.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px 20px;
  max-width: 500px;
  margin: 0 auto;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  color: #076969;
  margin-bottom: 30px;
  font-size: 24px;
}

.container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .formGroup {
  display: flex;
  flex-direction: column;
}

.container .formGroup label {
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}

.container .input {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.container .input:focus {
  border-color: #076969;
  outline: none;
}

.container .btnSubmit {
  background-color: #076969;
  color: white;
  font-weight: bold;
  border: none;
  padding: 14px 0;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.container .btnSubmit:hover {
  background-color: #0a857f;
}

.container .message {
  margin-top: 20px;
  color: #bb2d3b;
  font-weight: bold;
  text-align: center;
}

.container .btnPrint {
  margin-top: 20px;
  background-color: #287233;
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px 0;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

.container .btnPrint:hover {
  background-color: #1f5a26;
}

.container .btnRetour {
  background-color: #5f5e5b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.container .btnRetour:hover {
  background-color: #04795b;
}
